
.auth-form-container {
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    top: 3rem;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .auth-form-container h2 {
    color: #333;
    text-align: center;
    border-radius: 2px ;
    border: 2px solid #14ccce ;
    background: #14ccce;
  }
  
  .auth-form-container form {
    margin-top: 20px;
  }
  
  .auth-form-container label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .auth-form-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .auth-form-container button {
    width: 100%;
    padding: 10px;
    background-color: #14cce4;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .auth-form-container .link-btn {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #333;
    text-decoration: underline;
    cursor: pointer;
  }
  